.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
      %ul.main-header__left-box__member-list
        member:
        sample1
        = @group.name 
        %li.main-header__left-box__member-list__member
          -# = group.user.names.each do |name|
    = link_to edit_group_path(@group), class: "main-header__edit" do
      .main-header__edit-btn 
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message],html: {class: 'form__new-message' } do |f|
      .form__new-message__input-box
        = f.text_field :content, class: 'form__new-message__input-box__input', placeholder: 'type a message'
        = f.label :image, class: 'form__new-message__input-box__form-image' do
          = icon('fas', 'image', class: 'form__new-message__input-box__form-image__icon')
          = f.file_field :image, class: 'form__new-message__input-box__form-image__file'
      = f.submit 'Send', class: 'submit'

-#  class: 'form__new-message__input-box__form-image__image'